@mixin trans($direction: bottom, $value: 0.5s) {
  transition: $direction $value;
  -moz-transition: $direction $value;
  -webkit-transition: $direction $value;
  -o-transition: $direction $value;
}

.Content {
  margin: 0 auto;
  // width: 1350px;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 15px;

  .banklist {
    display: flex;
    flex-wrap: wrap;

    .bankSelect {
      width: 25%;

      >div {
        height: 50px;
        margin: 0px 5px 10px 5px;
        border: 1px solid #C2C2C2;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          // vertical-align: middle;
          // height: 35px;
          max-width: 90%;
          max-height: 70%;
        }

        span {
          // display: inline-block;
          margin-left: 10px;
        }

        @include trans(box-shadow);
        @include trans(border);

        position: relative;
        overflow: hidden;

        &:before {
          content: "✔";
          color: white;
          position: absolute;
          bottom: -30px;
          right: 1px;
          z-index: 2;
          @include trans;
        }

        &:after {
          display: block;
          content: "";
          width: 0;
          height: 0;
          line-height: 0;
          border: 15px solid transparent;
          border-right: 15px solid #4DC033;
          position: absolute;
          bottom: -45px;
          right: -15px;
          transform: rotate(-135deg);
          @include trans;
        }
      }
    }

    .active>div {
      border: 1px solid #4DC033;
      box-shadow: 0px 0px 3px #4DC033;

      &:before {
        bottom: 0px;
      }

      &:after {
        bottom: -15px;
      }
    }
  }
}