/* 改变主题色变量 */
$--color-primary: #eb844c;

$--tooltip-fill: #fff; // tooltip 的小三角

$--table-border: 1px solid #d8d8d8; // 表格边框

$--table-text-color: #767676;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
